<div class="container">
    <div class="row">
    <form class="col s12" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="city" id="city" type="text" class="validate" placeholder="City:">
        </div>
        <div class="input-field col s6">
          <input formControlName="expert" id="expert" type="text" class="validate" placeholder="Expert In:">
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary">Check Now</button>
      </div>
    </form>

      <div *ngFor="let data of dummyTest">
      {{data.firstName}}
      </div>

  </div>
</div>
